Hello $name,

***** Final Grade *****
=============================================
Assignment #01	:	$score1
Assignment #02	:	$score2
Assignment #03	:	$score3
Assignment #04	:	$score4
Assignment #05	:	$score5
Assignment #06	:	$score6
Assignment #07	:	$score7
Assignment #08	:	$score8
Assignment #09	:	$score9
Assignment #10	:	$score10
=============================================
Mid Term #01	:	$score11
Mid Term #02	:	$score12
=============================================
Final Exam	:	$score13
*********************************************
Over All Score	:	$score14
Over All Grade	:	$score15
*********************************************


Contact me, if any questions.

NOTE: I have NO AUTHORITY to show you the final exam papers.
 
 PS. If you have dropped off this course, then the grade does not apply to you.