Hello $name,

Your grade summary for the Homework 5:

>> Grade: $remark
##>> Remarks: $remark

Since you don't have class before your second mid-term, Dr. Larmore has asked to give the assignment papers to you prior to the mid term day, so that you can analyse the mistake you have done (if any).

I will try to keep your assignments with me all the time, catch me and take your paper ;-).

FYI I wil be in the lab 361 in the following times:
Mon/Wed: 12:45 to 1:15 and
         5:15 to 5:45
 


Thank You!!